
.cards-recetas{
    cursor:pointer;
    display: block;
    border-radius: 5%;
    width: 90%;
    height: 100%;
    padding:0.8rem ;
    color: rgb(8, 7, 7);
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    text-decoration: none;
    border: 2px solid rgb(250, 246, 246);
    background: url('http://firenzestone.com/assets/uploads/thumb_view_121441518cf2d163b54c6762b2c31727.png')no-repeat;
    background-size: cover;
}


.cards-recetas:hover{
    -webkit-box-shadow: 2px 4px 6px 3px rgba(246, 237, 237, 0.75);
    -moz-box-shadow: 2px 4px 6px 3px rgba(251, 248, 248, 0.75);
    box-shadow: 2px 4px 6px 3px rgba(240, 230, 230, 0.75);
    cursor: pointer;
    

}

.name-recipe{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    color:black;
    text-decoration: none;
    text-align: center;
}
.image_container{
    
   width: 100%;
    height: auto;
    padding-top: 1rem;
    object-fit: fill;
    border-radius: 10px;
  
}




.name-recipe a{
    text-decoration: none;
}

.diets-recipe{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.9rem;
        color:black;
        text-decoration: none;
        text-align: center;
}

