
.homecontainer{
    background: url('../../Img/madera.jpeg')no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size:cover;


}


.contenedor{
   
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
}





.contenedor-cards{
    
    display: grid;
    gap: 3rem;
    grid-template-columns: 341.59px 341.59px 341.59px;
    text-align: center;
    width: 60%;
    padding-bottom: 4rem;

    
   
}
.contenedor-cards a {
text-decoration: none;
}
.contenedor-cards:hover{
    border-color: green 2px;

    
}



.searchbar-container{
    width: 100%;
    height: auto;
  }
  

   .contenedor-filtros{
    width: 100%;
    height: auto;
    display: flex;
    margin:1rem 0  1rem 0;
    justify-content: center;
 }

 .contenedor-filtros select{
    margin-right: 0.5rem;
 }

 .filtros{
    border: hidden;
    padding: 0.3rem;
    border-bottom: 1px solid black;
     -webkit-box-shadow: 10px 10px 16px 0px rgb(61, 36, 19);
-moz-box-shadow: 10px 10px 16px 0px rgba(61, 36, 19);
box-shadow: 10px 10px 16px 0px rgba(61, 36, 19);
 }

.buscadornuevo{
width: 100%;
height: auto;
display: flex;
justify-content: center;
}

.buttonrecipe2{
    appearance: none;
    background-color: #1b1d1d;
    
    border-radius: 6px;
    box-shadow: rgba(219, 225, 231, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}
.buttonrecipe2:hover {
        background-color: #9b9f9c;
        color: black;
      }
      








.recargarpagina{
    padding: 1rem 0;
}


 