.containerdetail{
    background: url('../../Img/madera.jpeg')no-repeat;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-size:cover;
   padding-top: 1rem;
  padding-bottom: 3rem;
}

.container{
    background: url('http://firenzestone.com/assets/uploads/thumb_view_121441518cf2d163b54c6762b2c31727.png')no-repeat 2% 40% fixed;
    width: 50%;
    height: auto;
    margin: 5% auto 5% auto;
  
    border-radius: 5px;
   -webkit-box-shadow: 10px 10px 16px 0px rgb(47, 49, 48);
    -moz-box-shadow: 10px 10px 16px 0px rgb(80, 84, 81);
    box-shadow: 10px 10px 16px 0px rgb(55, 57, 56);
    padding: 2rem;
    background-size: cover;
}
.title{
    justify-content: center;
  align-items: center;
}
.container-imagen{
    width: 100%;
    height: auto; 
    
}

.imagen-detalle{
    margin: 3rem auto;
    display: block;
}

.container-dishtypes{
    width: 100%;
    height: auto;
    text-align: center;
}
.container-diets{
    width: 100%;
    height: auto;
    text-align: center;

}

.container-diets p{
    margin-left: 0.5rem;
}
     
.tipo-dieta{
 text-align: center;
}

.health-score{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.summary-container{
    justify-content:justify;
    width:100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.summary-container p{
    line-height: 1,5rem;
}

.steps-container{
    width: 100%;
    height: auto;
    
}

.items-lista{
    margin-bottom: 0.5rem;

}

.button-containerone{
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.negrita{
    font-weight: bold;
    font-size: 1.2rem;
}

.cargador{
    justify-content: center;
    align-items: center;
}

.button-recipe1{
    appearance: none;
    background-color: #5a5e5b;
    
    border-radius: 6px;
    box-shadow: rgba(219, 225, 231, 0.1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
   
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}