
     .buscador{
      width: 70%;
      padding-bottom: 0.5rem;
      margin-right: 0.5rem;
      border:hidden;
      text-align: center;
      padding: 0.2rem 0 0.2rem 0;
      border-bottom: 1px solid black;
      -webkit-box-shadow: 10px 10px 16px 0px rgb(61, 36, 19);
      -moz-box-shadow: 10px 10px 16px 0px rgba(61, 36, 19);
      box-shadow: 10px 10px 16px 0px rgba(61, 36, 19);

     }
.containerbuscador{
    width: 50%;
    padding: 2rem 0;

}
    