.paginado button{
    margin-left: 0.5rem;
    
     }
    
     .boton{
        background-color: #1b1d1d;
        float: left;
        padding: 5px 12px;
        text-decoration: none;
        color: rgb(252, 245, 245);
        border-radius: 20px;
        font-size: 22px;
        border: 1px solid black;
        margin: 0 4px;
        cursor: pointer;
    }
    
    .boton:hover{
        background-color: rgb(83, 83, 82)
    }
    
    .botonSeleccionado{
        color: black;
        float: left;
        padding: 5px 12px;
        text-decoration: none;
        background-color: rgb(236, 229, 229);
        color: black;
        box-shadow: 6px 5px 9px 4px #1a1a1b;
        border-radius: 25px;
        font-size: 22px;
        border: 1px solid black;
        margin: 0 4px;
        cursor: pointer;
    }
    
    .botonSeleccionado:hover{
        background-color: rgb(83, 83, 82)
    }
     
    