.con-about{
    margin-top: 100x;
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247,0,56);
    background: radial-gradient(circle, rgba(247,0,56,0.8463760504201681) 0%, rgba(42,15,54,1) 89%);
}

.con-about h1 {
    font-size:x-large;
    color: rgb(203, 242, 242);
    text-shadow: 2px 4px black;
}

.homeLink{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px rgb(232, 229, 229);
}

.homeLinks{
    display: flex;
    justify-content: center;
    color: rgb(225, 245, 232);
    text-shadow: 2px 3px black;
}

.homeLinks > a{
    margin: 20px;
}
 .homeLinks > a > img {
    width: 100px;
    height: 100px;
 }
 .caja{
    background-image: url('../../img/about.png');
 }