.con-about{
    margin-top: 100x;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/fotos-premium/textura-fondo-marmol-blanco_42682-249.jpg?w=2000');



}

.con-about h1 {
    font-size:x-large;
    color: rgb(16, 17, 17);
    
}

.homeLink{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px rgb(232, 229, 229);
}

.homeLinks{
    display: flex;
    justify-content: center;
    color: rgb(225, 245, 232);
    text-shadow: 2px 3px black;
}

.homeLinks > a{
    margin: 20px;
}
 .homeLinks > a > img {
    width: 100px;
    height: 100px;
 }
 